.tab-bar {
  @apply hidden absolute text-white -left-12 bottom-[18%]  z-20;
}

.code-generation {
  @apply hidden absolute text-white -right-12 bottom-[26%]  z-20;
}

.hero-border {
  @apply relative p-0.5 z-10 overflow-hidden;

  &::after {
    content: "";
    @apply absolute inset-0 w-full p-4 rounded-xl -z-10;
    background: linear-gradient(
      to top right,
      #facb7c 13%,
      #89f9e8 36%,
      #9299fc 63%,
      #d77dee 88%
    );
  }
}

.hero-bg-container {
  @apply absolute -z-10 w-full md:max-w-screen-lg lg:max-w-screen-md left-0 right-0 mx-auto -bottom-[10%] md:-bottom-[36%] lg:-bottom-1/3 xl:-bottom-[26%];
}
.hero-bg {
  @apply w-full h-auto scale-[1.46] md:scale-[0.87] lg:scale-[1.2] xl:scale-[0.95] opacity-[0.03];
}

.faded-bg-left {
  @apply absolute z-[1] -translate-x-1/2 left-0 bottom-0 top-0 w-[260px] h-full;
  background: linear-gradient(180deg, rgba(14, 12, 21, 0.00) 0%, #0E0C15 100%);
}

.faded-bg-right {
  @apply absolute z-[1] translate-x-[50%] right-0 bottom-0 top-0 w-[260px] h-full;
  background: linear-gradient(180deg, rgba(14, 12, 21, 0.00) 0%, #0E0C15 100%);
}

.bg-gradient {
  @apply absolute left-[50%] -z-10 -top-28 md:-bottom-[25%] backdrop-blur-[128px] -translate-x-1/2;
}

.pattern {
  @apply absolute -z-10 top-[50%] -translate-y-[50%] -translate-x-1/2  left-1/2 md:top-[46%] md:-translate-y-[46%] lg:top-[44%] max-w-[78rem];

  div {
    @apply absolute -translate-x-1/2 -translate-y-1/2 border rounded-full -z-10 top-1/2 left-1/2 aspect-square border-light-lavender/10;
  }

  .ellipse-1 {
    @apply w-[370px];
  }

  .ellipse-2 {
    @apply w-[578px];
  }

  .ellipse-3 {
    @apply w-[822px];
  }

  .ellipse-4 {
    @apply w-[1054px] hidden;
  }

  .ellipse-5 {
    @apply w-[78rem] hidden -z-30;
  }
}

@media only screen and (max-width: 320px) {
  .hero-bg-container {
    @apply -bottom-[7%];
  }
}

@media (min-width: 1200px) {
  .tab-bar {
    @apply flex items-center gap-8 p-4 rounded-2xl;
    background: rgba(71, 64, 96, 0.37);
    backdrop-filter: blur(16px)
  }

  .code-generation {
    @apply flex items-center gap-5 rounded-2xl p-4;
    background: rgba(71, 64, 96, 0.37);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .pattern {
    @apply top-[44%];

    .ellipse-4, .ellipse-5 {
      @apply block;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    @apply top-[48%];

    img {
      @apply scale-[0.53];
    }
  }

  .hero-bg {
    @apply scale-[1.33];
  }

  .pattern {
    @apply top-[50%];
  }
}

@media (min-width: 1536px) {
  .pattern {
    @apply top-[57%];
  }
}
