header {
  @apply absolute left-0 right-0 z-50 flex items-center justify-between w-full h-10 px-2 py-10 border-b border-b-white/10;
  .wrapper {
    .logo {
      @apply flex items-center;
    }
    @apply relative z-40 flex items-center justify-between w-full;

    .navigation {
      @apply fixed w-0 lg:w-full h-screen lg:h-auto delay-100 overflow-hidden opacity-0 lg:opacity-100 flex flex-col justify-center gap-12 left-0 bottom-0 lg:flex-row lg:items-center lg:relative lg:transform-none lg:left-0 lg:justify-between lg:flex-[0_0_70%] xl:flex-[0_0_65%];
      transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);

      nav {
        @apply flex flex-col items-start lg:items-center justify-start gap-12 lg:gap-24 lg:flex-row lg:justify-between lg:w-full;

        ul,
        .auth {
          a {
            @apply text-xs font-semibold leading-5 uppercase font-sourceCodePro hover:text-violet;
          }
        }

        ul {
          @apply flex flex-col gap-4 lg:gap-12 xl:gap-24 lg:flex-row lg:items-center;
        }

        .auth {
          @apply flex flex-col gap-6 lg:gap-8 lg:flex-row lg:items-center;
        }
      }

      &.active {
        @apply opacity-100  delay-100 lg:delay-0 w-full h-screen bg-midnight items-center;
        animation: slideIn 0.6s cubic-bezier(0.62, 0.04, 0.3, 1.56);
        animation-fill-mode: forwards;
      }

      &.inactive {
        @apply opacity-0 w-0 lg:opacity-100 delay-100 lg:delay-0;
        animation: slideOut 0.6s cubic-bezier(0.62, 0.04, 0.3, 1.56) forwards;
      }
    }
  }
}

.icon {
  span {
    @apply block w-5 h-0.5 bg-white;
    &:first-child {
      @apply -translate-y-1;
    }

    &:last-child {
      @apply translate-y-1;
    }
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}
