<header>
  <div class="wrapper">
    <div class="logo">
      <img
        ngSrc="/img/logo/logo-brainwave.svg"
        priority
        alt="logo"
        width="225"
        height="48"
        class="relative z-10"
      />
    </div>
    <div class="navigation" [class]="menuClass">
      <nav>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">How to use</a></li>
          <li><a href="#">Roadmap</a></li>
        </ul>
        <div class="auth">
          <a href="#">New account</a>
          <app-button variant="gradient">Sign in</app-button>
        </div>
      </nav>
    </div>
    <div class="flex lg:hidden">
      <app-button
        variant="gradient"
        classButtonContainer="flex"
        (click)="toggle()"
      >
        <span class="icon">
          <span></span>
          <span></span>
        </span>
      </app-button>
    </div>
  </div>
</header>
