@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sora, system-ui, sans-serif;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
  }

  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
  }

  h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
  }

  h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
  }

  h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

  h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }
}

@layer utilities {
  .body-1 {
    @apply text-body-1 font-sora;
  }

  .body-2 {
    @apply text-body-2 font-sora;
  }

  .caption {
    @apply text-caption font-sora;
  }

  .tag-line {
    @apply uppercase text-tagLine font-spaceGrotesk;
  }

  .quote {
    @apply text-quote font-sourceCodePro;
  }
}

@layer components {
  .btn {
    @apply text-xs font-bold leading-5 uppercase font-sourceCodePro;
    letter-spacing: 0.42px;
  }
}
